@page "/"

<a target="_blank" href="/v-1.1">v-1.1</a>
<br />
<a target="_blank" href="/v-1.0">v-1.0</a>


@code{
  [Inject]
  private NavigationManager navigationManager {get; set;} = default!;


private void GoToGame(string url)
  {
    navigationManager.NavigateTo(url);
  }

}